<div class="row">
  <div class="col-md-8 col-md-offset-4">
    <h2>Sign up with Email</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:class => "sign-up-form"}) do |f| %>
      <%= devise_error_messages! %>

      <div class="form-group">
        <%= f.label :username %><br />
        <%= f.text_field :username, :placeholder => "required" %>
      </div>

      <div class="form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, :placeholder => "required" %>
      </div>

      <div class="form-group">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <p class="help-block"><%= @minimum_password_length %> characters minimum.</p>
        <%= f.password_field :password, autocomplete: "off", :placeholder => "required" %>
        <% end %><br />
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", :placeholder => "required" %>
      </div>

        <%= f.submit "Sign up", :class => "pure-button pure-button-primary" %>

    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
