 <table id="surveys" class="table table-striped">
  <thead>
    <tr>
      <th>Survey</th>
      <th>Results</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <% @surveys.each do |survey| %>
    <tr>
      <td><%= link_to survey.title, results_path(id: survey.id) %></td>
      <td>
        <% answer_array = [] %>
        <% survey.answers.each do |answer| %>
        <% answer_array.push(["#{answer.body}",answer.votes]) %>
        <% end %>
        <%= pie_chart(answer_array, legend: {position: 'none'}, width: "50px", height: "50px") %>
      </td>
      <td><i class="fa fa-pencil-square-o" aria-hidden="true"></i><%= link_to "edit", edit_survey_path(survey.id) %>
      </td>
      <td class="survey-user"><i class="fa fa-trash" aria-hidden="false"></i><%=link_to "delete",survey_path(survey.id), :method => :delete, data: { confirm: t('Are your sure you want to delete this survey?'), ok: t("buttons.yes_i'm_sure"), cancel: t("buttons.no_way_dude!") } %> </td>
    </tr>
    <% end %>
  </tbody>
</table>
<nav aria-label="Page navigation">
  <% if @surveys.any? %>
  <%= will_paginate @surveys, renderer: BootstrapPagination::Rails  %>
  <% else %>
  <p class="empty">No surveys yet.</p>
  <% end %>
</nav>
