<% @survey.comments.order("up_vote desc").each do |comment| %>

<div class="row-fluid">
  <div class="col-sm-2">
    <div class="thumbnail">
      <%= image_tag gravatar_url("#{comment.user.email}", 64), alt: "#{comment.user.username}" %>
    </div><!-- /thumbnail -->
  </div><!-- /col-sm-1 -->

  <div class="col-sm-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong><%= comment.user.username %></strong> <span class="text-muted"><%= comment.created_at.strftime("%B, %d, %Y") %></span>



          <% span_uptag = '<span class="badge">' + comment.up_vote.to_s + '</span>' %>

          <%= link_to span_uptag.html_safe, upvote_path(comment),
            :method => "Post", :class => "fa fa-thumbs-up pull-right",
            :remote => true %>


          <% span_tag = '<span class="badge">' + comment.down_vote.to_s + '</span>' %>

          <%= link_to span_tag.html_safe, downvote_path(comment),
            :method => "Post", :class => "fa fa-thumbs-down pull-right",
            :remote => true %>

      </div>
      <div class="panel-body">
        <%= comment.body %>
      </div><!-- /panel-body -->
    </div><!-- /panel panel-default -->
  </div><!-- /col-sm-5 -->
</div>
<% end %>
