<!DOCTYPE html>
<html>
<head>
  <title>SurveyMaker</title>
  <link rel="icon"  href="assets/images/SurveyMakerLogo.png" />
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
  <body>
    <%= render :partial => 'shared/header' %>
    <div id="main-container" class="container-fluid">
      <div class="row-fluid">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>

        <%= yield %>
      </div>
      <%= render :partial => 'shared/footer' %>
      <script src="https://use.fontawesome.com/e6bb75f937.js"></script>
      <script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_API_KEY'] %>&callback=initMap">
</script>
    </div>
  </body>
</html>
